/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
a:link,
a:visited {
  color: #393e46;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.main-nav {
  display: flex;
  background: #393e46;
  color: #00adb5;
  padding: 1em;
  font-family: sans-serif;
}
@media screen and (max-width: 575px) {
  .main-nav {
    flex-direction: column;
  }
}
.main-nav ul {
  display: flex;
  flex: 3;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 575px) {
  .main-nav ul {
    flex-direction: row;
    margin-bottom: 1em;
  }
}
.main-nav ul li {
  margin-right: 1em;
}
.main-nav ul li a {
  color: #00adb5;
}
.main-nav div.form {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.main-nav div.form a {
  background: #00adb5;
  color: #EEE;
  margin-left: 10px;
  padding: 2px 5px;
}
.main-nav input {
  flex: 1;
}
.main-nav button {
  background: #EEE;
  border: 0;
  color: #222831;
  padding: 0 1em;
  margin-left: 0.3em;
}
#content {
  padding: 1em;
  background: #EEE;
}
#content #filmList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#content #filmList article {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #EEE;
  box-shadow: 2px 2px 6px 0px #222831;
  background: #393e46;
}
#content #filmList article span {
  display: block;
}
#content #filmList article span.episode {
  background: #000;
  color: #FFE81F;
  text-align: center;
  font-size: 3em;
  font-family: 'Pathway Gothic One', sans-serif;
}
#content #filmList article a {
  width: 50%;
  margin: 5px auto;
  display: block;
  text-align: center;
  color: #00adb5;
  background: #222831;
}
span.crawl {
  background: #000;
  color: #FFE81F;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 10px 20px;
  display: block;
  text-align: center;
}
#filmDetail {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 10px;
}
#filmDetail span,
#filmDetail div {
  width: 30%;
  margin-right: 10px;
}
@media screen and (max-width: 575px) {
  #filmDetail {
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  #filmDetail span.crawl {
    width: 100%;
    margin: 0 0 10px;
  }
  #filmDetail div {
    width: 45%;
    margin-right: 10px;
  }
}
#footer {
  padding: 1em;
  background: #222831;
}
h1 {
  color: #00adb5;
  font-size: 2em;
}
h2 {
  color: #393e46;
  font-size: 1.3em;
}
/*# sourceMappingURL=main.css.map */